footer{
    background-color:$dark-color;
}

.footer_section{
    padding:2rem;
}

.footer_section a{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}


.footer_section ul{
    display: flex;
    flex-direction: column;
}

.footer_section li{
    padding-bottom: 10px;
}



.fa-utensils{
    margin-right:16px;
    font-size: 1rem;
}
.fa-handshake{
    margin-right: 10px;
    font-size: 1rem;
}


.footer_section p{
    font-size: 1rem;
}