.restaurants{
    background-color: #f6f6f6;
    margin-bottom: 2rem;
    padding-top: 1rem;

    .restaurants_cards{
        margin: 0rem 1.5rem 0rem 1.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        .new{
            position: relative;
        }
        .new::before{
            content: "Nouveau";
            position: absolute;
            height: 0.3rem;
            width: 4rem;
            background-color: $color-tertiary;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 1rem;
            top: 1rem;
            border: 1rem solid $color-tertiary;
            border-radius: 0.2rem;
            font-family: roboto, sans-serif;
            color: darken($color: $color-tertiary, $amount: 35);
            font-weight: 500;
        }
    }

    .card{
        width: 48%;

        @media (max-width:$breackpoint) {
            width: 100%;
        }
        & .card_image{
            border-radius: 1rem 1rem 0rem 0rem;
            background-size: cover;
            height: 15rem;
        }
        @for $i from 1 through 4{
            &_image-#{$i}{
                background-image: url(../../public/images/restaurant-#{$i}.jpg);
            }
        }
        & .card_caption{
            position: relative;
            background-color: white;
            @include base_shadow;
            border-radius: 0rem 0rem 1rem 1rem;
            p{
                padding:0rem 0rem 1rem 1.5rem;
            }

            h3{
                padding: 1rem 1.5rem;
            }

            .fa-heart{
                font-size: 2rem;
                position: absolute;
                right: 1rem;
                top:50%;
                transform: translateY(-50%);
            }
            
            .empty{
                z-index: 1;
            }
            
            .full{
                background: $linear-gradient;
                background-clip: text;
                -webkit-background-clip:text;
                color: transparent;
                opacity: 0;
                z-index: 5;
                transition: all 200ms ease-in-out;
                cursor: pointer;
                &:hover{
                    opacity: 1;
                    transform: scale(1.2) translateY(-40%);
                }
            }
           
            

        
        }
    }
}







/*
.restaurant_cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 95%;
    margin: auto;
    padding-bottom:40px;
}

.restaurant_card{
    min-width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 0px solid transparent;
    border-radius: 20px;
    box-shadow: 4px 4px 6px #aaaaaa;
    margin-bottom: 30px;
    position: relative;
}


.restaurant_img_index{
    display: flex;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 180px;
    position: relative;
}

.restaurant_card_text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 85px;
}


.restaurant_card_text p{
    font-size: 1.5rem;
    font-weight: 300;
}

.restaurant_caption{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 15px;
    position: relative;
}







 i{
                font-size: 2rem;
                position: absolute;
                right: 1.5rem;
                top:50%;
                transform: translateY(-50%);
            }

            .fas{
                color: transparent;
                background-image: $linear-gradient;
                background-clip: text;
                -webkit-background-clip: text;
                opacity: 0;
                transition: all 2ms ease-in-out;
                cursor: pointer;
            }
            &:hover .fas{
                opacity: 1;
            }
*/