.explore_btn button{
    @include explore_btn;
    &:hover {
        background-color:lighten(#9356dc, 10%);
        background-blend-mode: lighten;
        box-shadow:4px 4px 6px #000000;
    }
}

.order{
    @include order_btn;
    &:hover {
        background-color:lighten(#9356dc, 10%);
        background-blend-mode: lighten;
        box-shadow:4px 4px 6px #000000;
    }
}