.explore_btn button{
    @include explore_btn;
    &:hover {
        background-color:lighten(#9356dc, 10%);
        background-blend-mode: lighten;
        @include darken_shadow;
        @include zoom;
    }
}

.order{
    @include order_btn;
    &:hover {
        background-color:lighten(#9356dc, 10%);
        background-blend-mode: lighten;
        @include darken_shadow;
        @include zoom;
    }
}