/*couleurs*/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$dark-color: #353535;
$light-grey:#aaaaaa;
$dark-grey:#7e7e7e;
$linear-gradient:linear-gradient(#FF70DA,#9356DC);

$breackpoint: 1000px;